
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh Toán thành công</h2>
<div class="card-body border-top">
    <a href="@Url.Action("Index", "Home/Index")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
</div>

